<div *ngIf="!createAccountView" class="log-form">
    <h1>Stöck Mäster</h1>
    <h2>Login to your account</h2>
    <div class="formwrap" >
      <input type="text" [(ngModel)]="username" title="username" placeholder="username" />
      <input type="password"[(ngModel)]="password"  title="password" placeholder="password" />
      <button type="submit" (click)="doLogin()" class="btn">Login</button>
      <button type="submit" (click)="changeView()" class="btn">Create Account</button>
    </div>
  </div><!--end log form -->
  <div *ngIf="createAccountView" class="log-form">
      <h1>Stöck Mäster</h1>
      <h2>Create account</h2>
      <div class="formwrap" >
        <input type="text" [(ngModel)]="newAccountUsername" title="username" placeholder="username" />
        <input type="password"[(ngModel)]="newAccountPassword"  title="password" placeholder="password" />
        <input type="password"[(ngModel)]="confirmNewPassword"  title="confirm password" placeholder="confirm password" />
        <button type="submit" (click)="createAccount()" class="btn">Create Account</button>
        <button type="submit" (click)="changeView()" class="btn">Already have an account? Sign in</button>
      </div>
    </div><!--end log form -->
    