<div>
  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Input stock:" value="" [(ngModel)]="currentStock">
    </mat-form-field>
    <button mat-flat-button (click)="queryStock()" style="margin:6px; background: #1fb5bf; color: white;">search</button>
  </div>
  <mat-radio-group class="example-radio-group" [(ngModel)]="currentTimespan">
    <mat-radio-button class="esxample-radio-button" *ngFor="let timespan of timespans" [value]="timespan">
      {{timespan}}
    </mat-radio-button>
  </mat-radio-group>

</div>

<h2 class="current-stock" style="display:block;">{{queriedStock}}</h2>
<div style="display:flex; flex-direction:column; width:100%; height: 100%; align-items:center; justify-content:center;">
  <canvas #lineChart class="chart">{{ chart }}</canvas>
</div>