<mat-toolbar class="toolbar" style="display:flex" color="primary">
  <mat-toolbar-row>
    <span>Stöck Mäster</span>
    <span class="spacer"></span>
    <div style="display:flex; flex-direction:row;">
      <h4>Signed in as: {{LoginStoreService.user.username}}</h4>
      <button mat-flat-button style="margin-left: 20px" (click)="LoginStoreService.logout()">Sign out</button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
      <span class="spacer"></span>

      <div style="margin-left: 20px">
          <h4>Account balance: ${{LoginStoreService.user.money}}</h4>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="mainCard">
  <mat-card-header>
    <mat-card-title>
    Stocks
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-stockview>

    </app-stockview>
  </mat-card-content>
</mat-card>
<mat-card class="mainCard">
    <mat-card-header>
      <mat-card-title>
      My portfolio
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-portfolio>
    
        </app-portfolio>
      </mat-card-content>

  </mat-card>