/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);


span, h4, h1, h2, h3, button, mat-card-title {
    color: lighten(#2a2a2a, 20%) !important;
    font-family: 'open sans' !important;
    box-shadow:inset 0px 1px 1px fadeout(white, 95%);
    border: 1px solid darken(#2a2a2a, 5%);
    text-shadow: 0px 1px 1px darken(#2a2a2a, 5%);
    font-weight: 200;
}


.successful {
    color: lightgreen !important; 
    font-size: 2em !important;
}

.failed {
    color: lightcoral !important; 
    font-size: 2em !important;
}


